*{
    padding : 10px;
    margin : 0px;
    box-sizing: border-box;
}

.container{
    height : 100vh;
    background-color: black;
    position : relative;
}

.box1{
    height : 400px;
    width : 400px;
    position: absolute;
    background-color: rgb(0, 115, 255);
    left :50%;
    top:50%;
    display : flex;
    align-items: center;
    justify-content: center;
    font-size : 40px;
    color: whitesmoke;
    /* transform : translate(-50%, -50%); */
    animation: moving 3s linear 0s infinite;
    box-shadow: 0px 0px 20px 20px rgb(0, 255, 38);
    border-radius: 50%;

}

.box2 , .box3{
    height : 400px;
    width : 400px;
    position: absolute;
    background-color: gold ;
    left :20%;
    top:20%;
    display : flex;
    align-items: center;
    justify-content: center;
    font-size : 40px;
    color: rgb(218, 49, 49);
    /* transform : translate(-50%, -50%); */
    animation: moving 3s linear 0s infinite;
    box-shadow: 0px 0px 20px 20px rgb(226, 61, 43);
    border-radius: 50%;

}


.box3{
    left :80%;
    top:10%;
    background-color: rgb(224, 39, 205) ;
    box-shadow: 0px 0px 20px 20px gold;


}

.one{
    background-color: antiquewhite;
    height :200px;
    width :200px;
    border-radius: 50%;
    transform : translateX(300px);
    color : black;
    display : flex;
    align-items: center;
    justify-content: center;

}


.two{
    background-color: rgb(197, 148, 83);
    height :100px;
    width :100px;
    border-radius: 50%;
    transform : translateX(100px);
    color : black;
    display : flex;
    align-items: center;
    justify-content: center;

}
@keyframes moving{
    /* from{
        transform: rotate(0deg)translateX(300px) rotate(0deg);
    }
    to{
        transform: rotate(360deg)translateX(300px) rotate(-360deg);
    } */

    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes moving2{
    from{
        transform: rotate(0deg)translateX(300px) rotate(0deg);
    }
    to{
        transform: rotate(360deg)translateX(300px) rotate(-360deg);
    }
}